@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
    &__img {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .top {
    &__slider-title {
      font-size: 62px;
      line-height: 74px;
    }
    &__slider-img {
      height: 640px;
    }
  }
}

@media (max-width: 992px) {
  .gallery {
    &__items {
      gap: 10px;
    }
    &__button {
      margin: 0;
      padding: 6px 10px;
    }
  }

  .about {
    &__content {
      padding-bottom: 40px;
    }
    &__text {
      padding-left: 0;
    }
  }

  .footer {
    &__info {
      width: 380px;
    }
  }
}

@media (max-width: 840px) {
  .top {
    &__inner::after {
      height: 100%;
    }
    &__slider-title {
      font-size: 44px;
      line-height: 54px;
    }
    &__slider-img {
      height: 540px;
    }
  }

  .collection {
    grid-template-columns: repeat(2, 1fr);
  }

  .works-path {
    &__item {
      width: 350px;
    }
    &__item--production {
      margin-left: 50px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__button {
      display: none;
    }
  }

  .logo {
    margin: 0;
  }

  .menu {
    &__list-item {
      padding-left: 0;
      & + .menu__list-item {
        padding-right: 0;
      }
    }
  }

  .decor {
    padding: 70px 0 55px;
  }

  .works-path {
    &__item--measuring {
      margin-left: 100px;
    }
  }

  .gallery {
    &__buttons {
      display: grid;
      gap: 10px;
    }
  }

  .about {
    &__preview {
      padding: 80px 0;
    }
  }

  .inspiration {
    &__img {
      display: none;
    }
  }

  .partners {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
    }
    &__info-text {
      max-width: 100%;
    }
    &__menu,
    &__social-list {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: 650px) {
  .top {
    &__inner {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    &__slider-img {
      display: none !important;
    }
    &__slider-text {
      margin-bottom: 15px;
    }
  }

  .works-path {
    &__items-box::before,
    &__item--production::after,
    &__item--measuring::before {
      display: none;
    }
    &__item {
      width: 100%;
    }
    &__items-box {
      flex-wrap: wrap;
      border: none;
    }
    &__item--measuring {
      margin-left: 0;
      padding-top: 0;
      padding-bottom: 38px;
    }
    &__item--production {
      order: 1;
      margin-left: 0;
    }
    &__item-text {
      width: 100%;
    }
  }

  .blog-box {
    &__items {
      display: block;
    }
    &__item {
      margin-bottom: 20px;
    }
    &__image-link {
      display: block;
    }
    &__image {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  %title-font {
    font-size: 28px;
    line-height: 36px;
  }

  .header {
    &__inner {
      flex-wrap: wrap;
      padding-top: 42px;
    }
    &__button-menu {
      position: relative;
      order: -1;
      display: block;
      border: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 300;
      span {
        width: 37px;
        height: 3px;
        display: block;
        margin: 6px 0;
        border-radius: 4px;
        background-color: #000;
      }
    }
  }

  .logo {
    position: relative;
    order: -1;
    z-index: 300;
  }

  .menu {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding-right: 0;
    background-color: #fff;
    text-align: center;
    transform: translateY(-350px);
    transition: all 0.3s;
    z-index: 200;
    &--open {
      transform: translateY(30px);
    }
    &__list {
      display: block;
    }
    &__list-item {
      padding-right: 0;
    }
    &__list-link {
      display: block;
      padding: 15px 0;
    }
  }

  .collection {
    grid-template-columns: repeat(1, 1fr);
  }

  .works-path {
    &__item-title {
      font-size: 16px;
      line-height: 27px;
    }
  }

  .gallery {
    &__items {
      grid-template-columns: 1fr;
    }
    &__item:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .blog-box {
    &__item {
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 22px;
      line-height: 34px;
    }
  }

  .about {
    &__preview-title {
      font-size: 40px;
      line-height: 48px;
    }
  }

  .inspiration {
    &__item-text,
    &__item-num {
      font-size: 16px;
      line-height: 23px;
    }
    &__item-text {
      margin-right: 10px;
    }
  }
}

@media (max-width: 375px) {
  .footer {
    &__inner {
      justify-content: space-between;
    }
    &__social-list {
      margin-left: 0;
    }
    &__form {
      display: block;
    }
    &__form-input {
      width: 100%;
    }
    &__form-button {
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
