$default-color: #5a5a5a;
$title-color: #363838;

%default-font {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

%title-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
