@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-left: 35px;
    padding-right: 45px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22;
  }
  &__list-link--active {
    position: relative;
    padding-bottom: 4px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      border-radius: 1px;
      background-color: rgba($title-color, 0.7);
    }
  }
}

.rightside-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 694px;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: -2px 3px 17px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  z-index: 999;
  &.rightside-menu--close {
    transform: translateX(500%);
  }
  &__close {
    margin-left: 50px;
    margin-bottom: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__content {
    max-width: 485px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &__title {
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 51px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 252px;
      height: 1px;
      margin: 0 auto;
      background-color: #6d7278;
    }
  }
  &__text {
    margin-bottom: 75px;
  }
  &__img {
    max-width: 485px;
  }
}

.breadcrumbs {
  position: relative;
  padding: 13px 0 14px;
  background-color: rgba(#dfdfdf, 0.5);
  z-index: 100;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    margin-right: 12px;
  }
  &__item::after {
    content: "/";
    position: absolute;
    top: 1px;
    right: -9px;
    color: $default-color;
  }
  &__item:last-child::after {
    display: none;
  }
  &__link {
    color: $default-color;
    font-size: 14px;
  }
}

.top {
  &__inner {
    position: relative;
    padding-bottom: 70px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 722px;
      background-image: url(../images/slider-bg.jpg);
      z-index: -1;
    }
  }
  &__slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__slider-img {
    max-width: 703px;
    height: 815px;
    margin-left: -14%;
    object-fit: cover;
  }
  &__slider-info {
    max-width: 645px;
    margin-left: 25px;
  }
  &__slider-title {
    position: relative;
    margin-bottom: 26px;
    padding-bottom: 26px;
    @extend %title-font;
    color: $title-color;
    font-size: 110px;
    line-height: 135px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 185px;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__slider-text {
    max-width: 585px;
  }
}

.new-collection {
  padding: 45px 0 35px;
  text-align: center;
  &__title {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 51px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 250px;
      height: 1px;
      margin: 0 auto;
      background-color: #6d7278;
    }
  }
  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 30px;
  padding-bottom: 70px;
  &__item {
    position: relative;
    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__img {
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(#fff, 0.7);
    transition: all 0.3s;
    opacity: 0;
  }
  &__info-title {
    position: relative;
    margin-bottom: 19px;
    padding-bottom: 19px;
    @extend %title-font;
    color: $title-color;
    font-size: 20px;
    line-height: 25px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 80%;
      height: 1px;
      margin: 0 auto;
      background-color: #6d7278;
    }
  }
  &__info-text {
    color: #707070;
    font-size: 14px;
    font-weight: 600;
  }
}

.decor {
  min-height: 600px;
  padding: 170px 0 155px;
  background-image: url(../images/decor-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    position: relative;
    max-width: 730px;
    margin-bottom: 22px;
    padding-bottom: 22px;
    @extend %title-font;
    color: $title-color;
    font-size: 60px;
    line-height: 80px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    max-width: 540px;
  }
}

.works-path {
  padding: 80px 0 30px;
  &__title {
    margin-bottom: 40px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
  }
  &__items-box {
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba($title-color, 0.7);
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $title-color;
    }
  }
  &__item {
    position: relative;
    width: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__item--production {
    margin-left: 317px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2px;
      height: 20px;
      background-color: rgba($title-color, 0.7);
    }
  }
  &__item--production,
  &__item--consultation {
    padding-bottom: 38px;
  }
  &__item--measuring {
    margin-left: 305px;
    padding-top: 38px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 20px;
      background-color: rgba($title-color, 0.7);
    }
  }
  &__item-title {
    margin-left: 13px;
    @extend %title-font;
    color: $title-color;
  }
  &__item-text {
    margin-top: 13px;
  }
}

.gallery {
  padding: 80px 0 90px;
  &__buttons {
    margin-bottom: 40px;
    text-align: center;
  }
  &__button {
    margin: 0 13px;
    padding: 6px 16px;
    border: 1px solid #454647;
    border-radius: 20px;
    background-color: transparent;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  .mixitup-control-active {
    border: 1px solid #ffef35;
    background-color: #ffef35;
    color: $title-color;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px 30px;
  }
  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__item img {
    width: 100%;
    height: 100%;
    max-height: 1150px;
    object-fit: cover;
  }
  &.gallery-page {
    .gallery__item img {
      max-height: 1165px;
    }
    .gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.blog-box {
  padding-bottom: 100px;
  &__title {
    max-width: 430px;
    margin: 0 auto 30px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
  }
  &__image-link {
    display: inline-block;
    margin-bottom: 19px;
  }
  &__links {
    margin-bottom: 9px;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
  }
  &__date,
  &__author,
  &__theme {
    color: inherit;
  }
  &__item-title {
    @extend %title-font;
    color: $title-color;
    font-size: 24px;
    line-height: 38px;
  }
}

.about {
  &__preview {
    margin-top: -53px;
    padding: 160px 0;
    background-image: url(../images/about-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  &__preview-title {
    @extend %title-font;
    color: $title-color;
    font-size: 60px;
    line-height: 80px;
  }
  &__content {
    padding: 130px 0 40px;
  }
  &__title {
    position: relative;
    max-width: 822px;
    margin-bottom: 22px;
    padding-bottom: 22px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 60px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    padding-left: 284px;
    p {
      margin-bottom: 30px;
    }
  }
  &__video {
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/about-video-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.inspiration {
  position: relative;
  padding-top: 100px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 425px;
    background-image: url(../images/inspiration-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__img {
    margin: 0 78px 45px -230px;
  }
  &__title {
    position: relative;
    margin-bottom: 24px;
    padding-bottom: 16px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 60px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    margin-bottom: 60px;
  }
  &__content {
    max-width: 825px;
  }
  &__item {
    margin-bottom: 40px;
    @extend %title-font;
    color: $title-color;
    line-height: 23%;
  }
  &__item-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
  }
  &__item-line {
    height: 2px;
    margin-top: -2px;
    border-radius: 4px;
    background-color: $title-color;
  }
}

.partners {
  padding: 16px 0 60px;
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__img {
    margin: 0 auto;
  }
}

.map {
  margin: -53px 0 50px;
}

.contact {
  padding-bottom: 100px;
  &__title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 60px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 2px;
      background-color: #6d7278;
    }
  }
  &__social-list {
    padding-left: 284px;
  }
  .contact__social-list {
    display: flex;
    margin-bottom: 20px;
    padding-left: 284px;
  }
  &__social-item + .contact__social-item {
    padding-left: 40px;
  }
  &__box {
    padding-left: 284px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__phone {
    color: $default-color;
  }
  &__city {
    margin-bottom: 16px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 284px;
  }
  &__form-input {
    width: 48%;
    margin-bottom: 13px;
    padding: 6px 17px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    &::placeholder {
      @extend %default-font;
      color: #a1a1a1;
    }
  }
  &__form-textarea {
    width: 100%;
    min-height: 125px;
    margin-bottom: 20px;
    padding: 14px 17px;
    border: 1px solid #dfdfdf;
    border-radius: 24px;
    resize: none;
    &::placeholder {
      @extend %default-font;
      color: #a1a1a1;
    }
  }
  &__form-button {
    min-width: 180px;
    padding: 6px 12px;
    border: none;
    border-radius: 21px;
    background-color: $title-color;
    color: #fffff0;
    font-weight: 600;
    cursor: pointer;
  }
}

.contact-slider {
  padding-bottom: 100px;
  &__link {
    position: relative;
    margin-bottom: 20px;
    &:hover {
      .contact-slider__title {
        opacity: 1;
      }
    }
  }
  &__img {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(#fff, 0.6);
    @extend %title-font;
    color: $title-color;
    line-height: 22px;
    text-align: center;
    transition: all 0.3s;
    opacity: 0;
  }
}

.blog {
  padding: 60px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    max-width: 730px;
  }
  &__item {
    margin-bottom: 80px;
  }
  &__item-img {
    max-width: 730px;
  }
  &__item-info {
    padding: 25px 0 10px;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    a {
      color: inherit;
    }
  }
  &__item-title {
    margin-bottom: 6px;
    @extend %title-font;
    color: $title-color;
    font-size: 24px;
    line-height: 38px;
  }
  &__blockquote {
    margin-bottom: 50px;
    padding: 54px 64px;
    background-color: rgba(223, 223, 223, 0.5);
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
    font-style: italic;
    text-align: center;
  }
  &__blockquote-author {
    position: relative;
    margin-top: 23px;
    padding-top: 23px;
    @extend %title-font;
    color: $title-color;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 200px;
      height: 1px;
      margin: 0 auto;
      border-radius: 1px;
      background-color: #6d7278;
    }
  }
  &__item-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.article-video {
  &__box {
    position: relative;
  }
}

.article-slider {
  &__arrow {
    position: absolute;
    top: 50%;
    padding: 0;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }
  &__arrow-left {
    left: 16px;
  }
  &__arrow-right {
    right: 16px;
  }
}

.aside {
  width: 350px;
  margin-left: 30px;
  &__search {
    position: relative;
    margin-bottom: 45px;
  }
  &__search-input {
    width: 100%;
    display: block;
    padding: 6px 45px 6px 18px;
    border: 1px solid rgba($title-color, 0.7);
    border-radius: 20px;
    &::placeholder {
      @extend %default-font;
      color: #a1a1a1;
      font-size: 14px;
    }
  }
  &__search-button {
    position: absolute;
    top: 11px;
    right: 13px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__category,
  &__recents,
  &__tags {
    margin-bottom: 50px;
  }
  &__category-title,
  &__recents-title,
  &__tags-title {
    margin-bottom: 15px;
    @extend %title-font;
    color: $title-color;
    line-height: 23px;
  }
  &__category-item,
  &__recents-item {
    margin-bottom: 12px;
  }
  &__category-link {
    color: inherit;
  }
  &__recents-titlelink {
    display: block;
    color: inherit;
  }
  &__recents-date,
  &__recents-author {
    color: #a1a1a1;
    font-size: 14px;
  }
  &__tags-link {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 16px;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 14px;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
  }
  &__social-list {
    display: flex;
  }
  &__social-item {
    margin-right: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &__arrow {
    margin: 0 6px;
  }
  &__arrow--disabled {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__item {
    margin: 0 6px;
  }
  &__num {
    color: #707070;
    font-size: 14px;
    font-weight: 600;
  }
  &__num--active {
    color: $title-color;
  }
}

.footer {
  &__content {
    padding: 60px 0 80px;
    background-color: #dfdfdf;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 540px;
  }
  &__info-title {
    margin-bottom: 14px;
    @extend %title-font;
    color: $title-color;
    line-height: 23px;
  }
  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }
  &__form {
    display: flex;
    gap: 0 9px;
  }
  &__form-input {
    flex-grow: 1;
    padding: 6px 10px 6px 18px;
    border: 1px solid rgba($title-color, 0.7);
    border-radius: 21px;
    background-color: transparent;
    outline: none;
    &::placeholder {
      @extend %default-font;
      color: #a1a1a1;
    }
  }
  &__form-button {
    min-width: 160px;
    padding: 6px 12px;
    border: none;
    border-radius: 21px;
    background-color: $title-color;
    color: #fffff0;
    font-weight: 600;
    cursor: pointer;
  }
  &__social-list {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }
  &__social-link {
    position: relative;
    padding-left: 28px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &--facebook::before {
      background-image: url(../images/socials/facebook.svg);
    }
    &--instagram::before {
      background-image: url(../images/socials/instagram.svg);
    }
    &--pinterest::before {
      background-image: url(../images/socials/pinterest.svg);
    }
    &--whatsapp::before {
      background-image: url(../images/socials/whatsapp.svg);
    }
    &--youtube::before {
      background-image: url(../images/socials/youtube.svg);
    }
  }
  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
  }
  &__social-link,
  &__menu-link {
    color: #707070;
  }
  &__menu {
    width: 125px;
    margin-right: 60px;
  }
  &__copyright {
    padding: 42px 0;
    background-color: $title-color;
    color: #a1a1a1;
    text-align: center;
  }
}
