@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-left: 35px;
    padding-right: 45px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22;
  }
}

.rightside-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 694px;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: -2px 3px 17px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  &.rightside-menu--close {
    transform: translateX(500%);
  }
  &__close {
    margin-left: 50px;
    margin-bottom: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__content {
    max-width: 485px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &__title {
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 51px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 252px;
      height: 1px;
      margin: 0 auto;
      background-color: #6d7278;
    }
  }
  &__text {
    margin-bottom: 75px;
  }
  &__img {
    max-width: 485px;
  }
}

.footer {
  &__content {
    padding: 60px 0 80px;
    background-color: #dfdfdf;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 540px;
  }
  &__info-title {
    margin-bottom: 14px;
    @extend %title-font;
    color: $title-color;
    line-height: 23px;
  }
  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }
  &__info-email {
    position: relative;
    display: inline-block;
    margin-bottom: 22px;
    padding-left: 30px;
    color: $title-color;
    font-size: 14px;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 16px;
      height: 12px;
      background-image: url(../images/footer/mail.svg);
    }
  }
  &__form {
    display: flex;
    gap: 0 9px;
  }
  &__form-input {
    flex-grow: 1;
    padding: 6px 10px 6px 18px;
    border: 1px solid rgba($title-color, 0.7);
    border-radius: 21px;
    background-color: transparent;
    outline: none;
    &::placeholder {
      @extend %default-font;
      color: #a1a1a1;
    }
  }
  &__form-button {
    min-width: 160px;
    padding: 6px 12px;
    border: none;
    border-radius: 21px;
    background-color: $title-color;
    color: #fffff0;
    font-weight: 600;
    cursor: pointer;
  }
  &__social-list {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }
  &__social-link {
    position: relative;
    padding-left: 28px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &--facebook::before {
      background-image: url(../images/footer/facebook.svg);
    }
    &--instagram::before {
      background-image: url(../images/footer/instagram.svg);
    }
    &--pinterest::before {
      background-image: url(../images/footer/pinterest.svg);
    }
    &--whatsapp::before {
      background-image: url(../images/footer/whatsapp.svg);
    }
    &--youtube::before {
      background-image: url(../images/footer/youtube.svg);
    }
  }
  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
  }
  &__social-link,
  &__menu-link {
    color: #707070;
  }
  &__menu {
    width: 125px;
    margin-right: 60px;
  }
  &__copyright {
    padding: 42px 0;
    background-color: $title-color;
    color: #a1a1a1;
    text-align: center;
  }
}
